@{
    ViewData["Title"] = "Privacy Policy";
}
@model Movie // this is the name of the class that will allow to store each of the answers
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for="MovieID">

        <label asp-for="CategoryID">Category</label>
        <select asp-for="CategoryID" class="form-control" required>
            <option value="">-- Select a category --</option>
            @foreach (Category c in ViewBag.Category)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select>
        <span asp-validation-for="CategoryID" class="text-danger"></span>
        <br />

        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" required/>
        <span asp-validation-for="Title" class="text-danger"></span>
        <br />

        <label asp-for="Year">Year</label>
        <input asp-for="Year" class="form-control" type="number" min="1888" required />
        <span asp-validation-for="Year" class="text-danger"></span>

        <br />

        <label asp-for="Director">Director</label>
        <input asp-for="Director" />
        <br />

        <label asp-for="Rating">Rating</label>
        <select asp-for="Rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br />
        <br />
        <label asp-for="Edited">Edited</label>
        <select asp-for="Edited">
            <option value="">-- Seelct an option --</option>
            <option value="true">Yes</option>
            <option value="false">No</option>

        </select>
        <br />
        <br />
        <label asp-for="LentTo">Lent To</label>
        <input asp-for="LentTo" />
        <br />
		<label asp-for="CopiedToPlex">Copied To Plex</label>
        <select asp-for="CopiedToPlex" class="form-control" required>
            <option value="">-- Seelct an option --</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <span asp-validation-for="CopiedToPlex" class="text-danger"></span>
        <br />

        <label asp-for="Notes">Notes</label>
        <input asp-for="Notes" />
    </div>
    <button type="submit">Add Movie</button>
</form>