
@{
    ViewData["Title"] = "GetToKnow";
}

<h1>GetToKnow</h1>
<br />
<br />
<h4 >These are some of Joel's Interests</h4></>
<br />
<h6>
    Here's a link to Quick Wits Comedy where he performs regularly
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
</h6>
<br />
<h6>
    Here's another link to Joel's favorite Podcast
    <a href="https://baconsale.com/">BaconSale Site</a>
</h6>
<br />
<a href="https://baconsale.com/">
	<img src="~/img/baconsalekate.jpg" height="500"/>
</a>

